.main-signup {
    padding-top: 3rem;
    /* padding-bottom: 2rem; */
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 800px) {
    .main-signup{
        width: 100vw;
        height: 100vh;
    }
}